body {
  margin: 0;
  overflow: hidden;
  background: #b3ecff;
  font-family: 'Comic Sans MS', sans-serif;
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.crab-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
}

.crab {
  width: 100%;
  animation: moveCrab 5s ease-in-out infinite alternate;
}

@keyframes moveCrab {
  0% { transform: translateX(-50px); }
  100% { transform: translateX(50px); }
}

.speech-bubble {
  position: absolute;
  top: -130px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 50px;
  padding: 20px 25px;
  font-size: 18px;
  color: #0044cc;
  width: 260px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  opacity: 0.9;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -10px;
  border-width: 20px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
